@media screen and (max-width: 992px) {
  body {
    background-color: lightblue;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}
.conteiner {
  max-width: 1100px;
  margin: 0 auto;
}
.conteiner .navbar {
  display: flex;
  padding: 10px;
}
.conteiner .navbar .navbar__logo {
  display: flex;
  align-items: center;
  width: 60%;
}
.conteiner .navbar .navbar__menu {
  width: 50%;
}
.conteiner .navbar .navbar__menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
.conteiner .navbar .navbar__menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #8B8C8C;
}
.conteiner .navbar .navbar__menu a#blue {
  color: rgb(113, 212, 212);
}

.main img {
  position: relative;
  left: 362px;
}
.main .main__img {
  position: absolute;
  left: 650px;
  top: 180px;
}
.main p {
  position: absolute;
  left: 150px;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  top: 180px;
}
.main p#p1 {
  position: absolute;
  left: 150px;
  top: 400px;
  font-size: 18px;
  font-weight: normal;
  font-family: sans-serif;
  color: #8B8C8C;
}
.main button {
  border: none;
  background-color: rgb(91, 175, 175);
  padding: 15px;
  position: absolute;
  top: 530px;
  left: 150px;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}
.main .main__pilot {
  position: absolute;
  left: 150px;
  top: 610px;
}
.main p#p2 {
  position: absolute;
  left: 150px;
  top: 633px;
  font-size: 14px;
  font-family: sans-serif;
  color: #8B8C8C;
}
.main p#p2 span {
  color: rgb(113, 212, 212);
}

.card .card__fon {
  position: relative;
  top: 283px;
  width: 1330px;
}
.card .card__img {
  position: absolute;
  left: 750px;
  top: 1020px;
}
.card .card__img2 {
  position: absolute;
  left: 130px;
  top: 1100px;
}
.card h1 {
  position: absolute;
  left: 120px;
  top: 1130px;
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(91, 175, 175);
}
.card p#p3 {
  position: absolute;
  left: 120px;
  top: 1280px;
  color: #8B8C8C;
  font-family: sans-serif;
}
.card button {
  border: none;
  background-color: rgb(91, 175, 175);
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  top: 1380px;
  left: 120px;
}

.work {
  position: relative;
}
.work .mini__img {
  position: absolute;
  left: 100px;
  top: 600px;
}
.work h2#h2 {
  font-family: sans-serif;
  position: absolute;
  top: 865px;
  left: 130px;
}
.work p#p4 {
  position: absolute;
  left: 80px;
  top: 900px;
  color: #8B8C8C;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
.work .mini__img2 {
  position: absolute;
  left: 530px;
  top: 600px;
}
.work h2#h3 {
  position: absolute;
  font-family: sans-serif;
  top: 865px;
  left: 530px;
}
.work p#p5 {
  position: absolute;
  top: 900px;
  left: 530px;
  color: #8B8C8C;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
.work .mini__img3 {
  position: absolute;
  top: 600px;
  left: 970px;
}
.work h2#h4 {
  position: absolute;
  top: 865px;
  left: 970px;
  font-family: sans-serif;
}
.work p#p6 {
  position: absolute;
  top: 900px;
  left: 950px;
  color: #8B8C8C;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
.work h1 {
  position: absolute;
  left: 40%;
  top: 450px;
  font-size: 50px;
  color: rgb(91, 175, 175);
  font-family: sans-serif;
}

.menu .text img {
  position: relative;
  top: 1400px;
  width: 1330px;
}
.menu .text h1 {
  position: absolute;
  top: 2600px;
  font-family: sans-serif;
  font-size: 50px;
  left: 35%;
  color: rgb(91, 175, 175);
}
.menu .text p {
  position: absolute;
  top: 2700px;
  font-family: sans-serif;
  font-size: 20px;
  left: 30%;
  text-align: center;
}
.menu .text a {
  color: rgb(91, 175, 175);
}
.menu .text button#b1 {
  padding: 15px 45px;
  position: absolute;
  top: 2830px;
  left: 440px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  font-family: sans-serif;
}
.menu .text button#b2 {
  padding: 15px 45px;
  position: absolute;
  top: 2830px;
  left: 640px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  font-family: sans-serif;
}
.menu .text button#b3 {
  padding: 15px 45px;
  position: absolute;
  top: 2830px;
  left: 840px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  font-family: sans-serif;
}
.menu .text button#b1:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .text button#b2:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .text button#b3:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards1 {
  background-color: white;
  position: relative;
  top: 900px;
  left: 100px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards1 h2#p7 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards1 img {
  border-radius: 10px;
}
.menu .menu__cards1 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards1 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards1 button#b4 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards1 button#b5 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards1 button#b4:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards1 button#b5:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards2 {
  background-color: white;
  position: relative;
  top: 714px;
  left: 700px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards2 img {
  border-radius: 10px;
}
.menu .menu__cards2 h2#p8 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards2 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards2 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards2 button#b6 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards2 button#b7 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards2 button#b6:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards2 button#b7:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards3 {
  background-color: white;
  position: relative;
  top: 750px;
  left: 100px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards3 img {
  border-radius: 10px;
}
.menu .menu__cards3 h2#p9 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards3 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards3 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards3 button#b8 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards3 button#b9 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards3 button#b8:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards3 button#b9:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards4 {
  background-color: white;
  position: relative;
  top: 565px;
  left: 700px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards4 img {
  border-radius: 10px;
}
.menu .menu__cards4 h2#p10 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards4 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards4 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards4 button#b10 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards4 button#b11 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards4 button#b10:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards4 button#b11:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards5 {
  background-color: white;
  position: relative;
  top: 600px;
  left: 100px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards5 img {
  border-radius: 10px;
}
.menu .menu__cards5 h2#p11 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards5 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards5 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards5 button#b12 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards5 button#b13 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards5 button#b12:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards5 button#b13:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards6 {
  background-color: white;
  position: relative;
  top: 417px;
  left: 700px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(91, 175, 175);
  padding: 25px;
}
.menu .menu__cards6 img {
  border-radius: 10px;
}
.menu .menu__cards6 h2#p12 {
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(91, 175, 175);
}
.menu .menu__cards6 h1 {
  position: absolute;
  top: 5px;
  left: 170px;
  font-family: sans-serif;
  font-size: 25px;
}
.menu .menu__cards6 p {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: sans-serif;
}
.menu .menu__cards6 button#b14 {
  position: absolute;
  left: 170px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards6 button#b15 {
  position: absolute;
  left: 250px;
  font-family: sans-serif;
  top: 120px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.menu .menu__cards6 button#b14:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu .menu__cards6 button#b15:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}
.menu button#b16 {
  position: absolute;
  left: 600px;
  font-family: sans-serif;
  top: 3650px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 15px 40px;
  border-radius: 5px;
}
.menu button#b16:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}

.body img {
  position: relative;
  top: 700px;
  left: 100px;
}
.body img#img1 {
  position: absolute;
  top: 3890px;
}
.body h1 {
  position: absolute;
  top: 4000px;
  left: 770px;
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(91, 175, 175);
}
.body p {
  position: absolute;
  top: 4140px;
  left: 770px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(68, 131, 131);
}
.body button {
  position: absolute;
  left: 770px;
  font-family: sans-serif;
  top: 4270px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 15px;
}
.body button:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}

.two .two__fon {
  position: relative;
  top: 1083px;
  width: 1330px;
}
.two .two__img {
  position: absolute;
  left: 750px;
  top: 5050px;
}
.two .two__img2 {
  position: absolute;
  left: 130px;
  top: 5050px;
}
.two h1 {
  position: absolute;
  left: 120px;
  top: 5050px;
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(91, 175, 175);
}
.two p#p13 {
  position: absolute;
  left: 120px;
  top: 5250px;
  color: #8B8C8C;
  font-family: sans-serif;
  font-size: 20px;
}
.two button {
  border: 1px solid rgb(91, 175, 175);
  background-color: white;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  top: 5380px;
  left: 120px;
}
.two button:hover {
  background-color: rgb(91, 175, 175);
  color: white;
}

.three img {
  position: relative;
  top: 1150px;
  width: 660px;
  height: 520px;
}
.three div {
  background-color: rgb(91, 175, 175);
  height: 520px;
  width: 650px;
  position: relative;
  top: 626px;
  left: 690px;
}
.three div h1 {
  position: absolute;
  top: 100px;
  font-size: 50px;
  font-family: sans-serif;
  left: 55px;
  color: white;
}
.three div button {
  border: 1px solid rgb(91, 175, 175);
  background-color: white;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  top: 300px;
  left: 55px;
}/*# sourceMappingURL=main.css.map */